<h1>Snaps</h1>
<ul id="snaps-container">
<% @snaps.each do |snap| %>
  <li><%= image_tag snap.image.url(:medium) %>

  <p><%= snap.user.username if snap.user %></p>
  <p><%= snap.description %></p>
  <% snap.tags.each do |tag| %>
  <p><%= tag.text %></p>
  <% end %>
  </li>
<% end %>
</ul>
