<%= image_tag @snap.image.url, class: "full-image" %>
<section class="snap-section">
  <header><h1><%= @snap.user.username if @snap.user %></h1></header>
  <p><%= @snap.description %></p>
  <footer>
    <% @snap.tags.each do |tag| %>
      <span class="snap-tag"><%= link_to tag.text, tag_path(tag.id) %></span>
    <% end %>
  </footer>
</section>