<% snaps.each do |snap| %>
  <li>
    <%= link_to (image_tag snap.image.url(:medium)), snap_path(snap), class: "image-link" %>
    <section>
      <header>
        <h1><%= link_to snap.user.username, user_path(snap.user) if snap.user %></h1>
      </header>
      <p><%= snap.description %></p>
      <footer>
        <% snap.tags.each do |tag| %>
          <span class="snap-tag"><%= link_to tag.text, tag_path(tag.id) %></span>
        <% end %>
      </footer>
    </section>
  </li>
<% end %>
</ul>
