<% snaps.each do |snap| %>
  <li><%= image_tag snap.image.url(:medium) %>
    <p><%= snap.user.username if snap.user %></p>
    <p><%= snap.description %></p>
    <% snap.tags.each do |tag| %>
      <p><%= link_to tag.text, tag_path(tag.id) %></p>
    <% end %>
  </li>
<% end %>