<h2 class="receipt">Thanks, you paid <strong>$15.00</strong>!</h2>
<p class="receipt-apology">I mean, we can't actually give you anything in return, but we're grateful nonetheless</p>
<p class="receipt-apology">This is us:</p>
<img src="http://4.bp.blogspot.com/-pFWNP7c-qX8/UH1vvpS-OcI/AAAAAAAACrk/YKw39ugeqD8/s1600/the+grateful+cat.jpg" class="receipt-cat" />